{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  Последние обновления избранных авторов
{% endblock %}
{% block content %}
  <div class="container py-5">
    {% load feature_flags %}
    {% flag_enabled 'follow' as follow %}
    {% include 'posts/includes/switcher.html' %}
    <h1>
      Последние обновления избранных авторов
    </h1>
    {% for post in page_obj %}
      {% include 'posts/includes/post_card.html' with post=post %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}